@charset "UTF-8";

html{
    font-size: 100%;
}
.top .img{
    background-image: url(/img/rogo3.jpg);
   position: relative;
    top: 10px;
    left: 195px;
    width: 80%;
    height: 400px;
}
.top .pageTtl{
    position: absolute;
    font-size: 10.0rem;
    line-height: 1;
    letter-spacing: 0.45em;
    top: 0;
    left: 300px;
    font-family: cursive;
}
.top p{
    top: 350px;
    left: 700px;
    font-size: 80px;
    font-family: cursive;
    text-align: center; 
}
.ds{
    margin: 60px 350px;
    display: flex;
}
.food img{
    width: 500px;
    height: auto;
}
.first span{
    color: red;
    font-size: 35px;
}
.first{
    font-size: 20px;
}
.foods img{
    width: 500px;
    height: auto;
    margin-left: 250px;
}
.second span{
    color: red;
    font-size: 35px;
}    
.second{
    font-size: 20px;
    margin-left: 230px;
}
.cs{
    margin: 60px 350px;
}
.cs p{
    font-size: 80px;
    font-family: cursive;
    text-align: center;
}
.bike{
    display: flex;
}
.bike img{
  width: 400px;
  height: auto;
}
.bike p{
    display: inline-flex;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 0;
}
.bike span{
    color: red;
    font-size: 30px;
}
.sport{
    margin: 60px 350px;
}
.sport p{
    font-size: 80px;
    font-family: cursive;
    text-align: center;
}









