@charset "UTF-8";

html{
    font-size: 62.5%;
}
body{
    margin: 0;
}
.top{
    margin: 100px 250px;
}
.top .pageTtl{
    font-size: 10.0rem;
    line-height: 1;
    letter-spacing: 0.45em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.food-text{
    margin: 100px 250px;
}
.food-text p{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 10px;
}
.f{
    display: flex;
}
.food{
    margin-left: 200px;
    padding: 100px;
}
.food img{
    width: 500px;
    height: auto;
}
.first span{
    color: red;
    font-size: 35px;
}
.first{
    font-size: 20px;
}
.foods{
    padding: 100px;
}
.food .foods{
    display: flex;
}
.foods img{
    width: 500px;
    height: auto;
    margin-left: 250px;
}
.second span{
    color: red;
    font-size: 35px;
}    
.second{
    font-size: 20px;
    margin-left: 230px;
}
.bike-text{
    margin: 100px 250px;

}
.bike-text p{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 10px;
}
.bike{
    display: flex;
}
.bike img{
  width: 400px;
  height: auto;
  padding: 0 50px 150px 100px;
}
.bike p{
    font-size: 22px;
    margin-left: 50px;
    margin-top: 0;
    text-align: left;
}
.bike span{
    color: red;
    font-size: 30px;
    line-height: 5;
}
.sport{
    margin: 100px 250px;
}
.sport p{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 10px;
}
.bask{
    display: flex;
}
.bask img{
    width: 400px;
    height: auto;
    padding: 0 50px 150px 100px;
}
.bask p{
    
    font-size: 22px;
    margin-top: 0;
    margin-left: 50px;
    text-align: left;
}

.fashion-text{
    margin: 100px 250px;
}
.fashion-text p{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 10px;
}
.co-de{
    display: flex;
}
.one{
    margin-left: 100px;
}
.one img{
    width: 400px;
    height: auto;

}
.one p{
    font-size: 22px;
    text-align: left;
}
.two{
    margin-left: 300px;
    margin-right: 300px;
}
.two img{
    height: 455px;
    width: 400px;
}.three{
    margin-right: 150px;
}
.two p{
    font-size: 22px;
    text-align: left;
}
.three img{
    width: 400px;
    height: auto;
}
.three p{
    font-size: 22px;
    text-align: left;
}
.co-de a{
    font-size: 20px;
    margin-left: 300px;
}
.co-de a:hover{
    color: #0bd;
}











