@charset "UTF-8";

@media (max-width: 768px){
    .icon{
        flex-direction: column;
        display: flex;
    }
    .icon .icon2{
        max-width: 80px;
        top: 50px;
        left: 30px;
    }
    .icon  p{
        font-size: 30px;
        top: 150px;
        left: 30px;
    }
    .niti p{
        font-size: 30px;
        top: 250px;
        left: 40px;
    }
    .icon .main{
        display: block;
        font-size: 15px;
        letter-spacing: normal;
        left: 150px;
        top: 20px;
    }
    .kao img{
        width: 120px;
        height: auto;
        left: 130px;
        top: 450px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .icon{
        flex-direction: column;
        display: flex;
    }
    .icon .icon2{
        max-width: 200px;
    }
    .icon p{
        font-size: 65px;
        top: 200px;
        left: 60px;
    }
    .niti p{
        font-size: 65px;
        top: 350px;
        left: 60px;
        flex-direction: column;
    }
    .icon .main{
        display: flex;
        font-size: 30px;
        letter-spacing: normal;
        left: 200px;
        top: 80px;
    }
    .kao img{
        width: 230px;
        height: auto;
        left: 250px;
        top: 700px;
    }
}