@charset "UTF-8";

@media (max-width: 768px){
    .icon{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
    }
    .icon .icon2{
        width: 25%;
        top: 2%;
        left: 10%;
    }
    .icon  p{
        position: fixed;
        width: 80%;
        font-size: 1.8rem;
        top: 25%;
        left: 8%;
        font-family: 'Courier New', Courier, monospace;
    }
    .niti p{
        font-size: 1.8rem;
        top: 42%;
        left: 10%;
        font-family: 'Courier New', Courier, monospace;
    }
    .icon .main{
        display: block;
        font-size: 15px;
        letter-spacing: normal;
        left: 150px;
        top: 20px;
    }
    .kao img{
        width: 40%;
        height: auto;
        left: 28%;
        top: 23%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .icon{
        position: fixed;
        width: 100%;
    }
    .icon .icon2{
        max-width: 25%;
        top: 3%;
        left: 10%;
    }
    .icon p{
        position: fixed;
        width: 90%;
        font-size: 3.8rem;
        top: 22%;
        left: 9%;
        font-family: 'Courier New', Courier, monospace;
    }
    .niti p{
        top: 42%;
    }
    .icon .main{
        display: block;
        font-size: 2rem;
        left: 50%;
        top:2.5%;
        font-family: 'Courier New', Courier, monospace;
    }
    .kao img{
        position: fixed;
        width: 30%;
        left: 35%;
        top: 68%;
    }
}